$primary_color: #2ade5a;
$secondary_color: #3B5384;
$text_dark: #282829;
$shadow: 2px 3px 14px 0px rgba(0,0,0,0.16);;

$screen_lg: 100;
$screen_md: 100;
$screen_sm: 100;
$screen_xs: 100;

@font-face {
  font-family: Roboto;
  src: url('../../font/Roboto-Regular.ttf');
}
